@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

a:hover {
  color: #f472b6 !important;
}

button:hover,
[role="button"]:hover {
  background-color: #fbcfe8 !important;
  color: #831843 !important;
}